lib_managed/
project/boot/
project/build/target/
src/testproj/project/boot/
src/testproj/project/build/target/
src/testproj/project/plugins/lib_managed/
src/testproj/project/plugins/src_managed/
src/testproj/project/plugins/target/
src/testproj/target/
target/
